body {
    margin: 0 auto;
    max-width: 1440px;
    box-sizing: border-box;
    font-family: "roboto";
}

.container-image {
    height: 275px;
    display: block;
}
    .img-menu {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

.container-all-menus {
    position: relative;
    margin-top: -3rem;
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

.title-container {
    position: relative;
    width: 100%;
    padding: 0 5px;
}

.title-menu {
    font-family: "shrikhand";
    font-size: 1.75rem;
    font-style: italic;
}

.heart {
        position: absolute;
        width: 22px;
        font-size: 21px;
        top: 30px;
        right: 30px;
}

.heart-empty {
    color: #000000;
}

.heart-full {
    @include icone-favorite-choice
}    

.sections-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;   
} 

    .section-menu1 {
        -webkit-animation: arrive-menu 1s ease-in-out;                  
        animation: arrive-menu 1s ease-in-out;
    }

    .section-menu2 {
        -webkit-animation: arrive-menu 1.4s ease-in-out;                  
        animation: arrive-menu 1.4s ease-in-out;
    }

    .section-menu3 {
        -webkit-animation: arrive-menu 1.6s ease-in-out;                  
        animation: arrive-menu 1.6s ease-in-out;
    }

        
.subtitle-menu {
    margin: 30px 0 0 0;
    font-size: 1rem;            
    font-weight: 300;
    text-transform: uppercase;
}

.line {
    width: 40px;
    border: 2px solid #99e2d0;
    margin-top: 5px;
}

.container-cards {        
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    border-radius: 20px;
    gap: 15px;            
}      

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;        
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;        
    white-space: nowrap;
    overflow: hidden;
    &:hover {
        .cards-price{
        transform: translateX(0);
        }
    }      

.cards-content {
    padding: 15px 0 15px 10px;
    white-space: nowrap;
    overflow: hidden;
    
    .title-plate {
        margin: 0 0 5px 0;
        font-size: 0.938rem;
        overflow: hidden;
    }

    .description-plate {
        margin: 0;
        font-size: 0.75rem;
        font-weight: 300;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;      
    }
    @media screen and (min-width: 768px) {
        padding: 15px;
        .title-plate {
            font-size: 1rem;
        }
        .description-plate {
            font-size: 0.813rem;
        }
    }
}
.cards-price {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    transform: translateX(59px);
    transition: all 0.5s;
       
    .price {
        padding: 15px 15px 15px 0;
        margin: 0;
        font-size: 0.94rem;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
    }    

    span {                
        display: flex;
        justify-content: center;
        align-items: center;
        width: 59px;
        height: 100%;
        background-color: #99e2d0;
    }

    .fa-check {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        color: #99e2d0;
        width: 20px;
        height: 20px;
        border-radius: 50%;                            
    }
}
}

@media screen and (min-width: 768px) {
    .container-all-menus {  
        margin-left: 10%;
        margin-right: 10%;    
    }
        .title-container {
            width: 350px;
        }

        .sections-menu {
            width: 70%;
        }        
}

@media screen and (min-width: 1024px) {
    .container-all-menus {  
        margin-left: 15%;
        margin-right: 15%;    
    }
}
