/*KEYFRAMES D'ANIMATION SUR LE MENU*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@keyframes arrive-menu {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/*KEYFRAMES LOADER*/
@keyframes loader {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  to {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    opacity: 0.2;
  }
}
@keyframes oppositerotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    opacity: 0.2;
  }
}
.container-chargement {
  position: fixed;
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.9;
  z-index: 999;
  animation: loader 150ms 3s forwards;
}
.container-chargement .loader-out {
  position: absolute;
  top: 337px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #9356dc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: inline-block;
  border-radius: 50%;
  opacity: 0;
  animation: rotate 3s linear 150ms;
  -webkit-animation: rotate 3s linear 150ms;
  transition: opacity 0.4s ease-out;
}
.container-chargement .loader-in {
  position: absolute;
  top: 358px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top: 9px solid #99e2d0;
  border-bottom: 9px solid #99e2d0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  display: inline-block;
  border-radius: 50%;
  opacity: 0;
  animation: oppositerotate 3s linear 150ms;
  -webkit-animation: oppositerotate 3s linear 150ms;
}
.container-chargement .ball {
  position: absolute;
  top: 376px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff79da;
  opacity: 0;
  animation: rotate 3s linear 150ms;
  -webkit-animation: rotate 3s linear 150ms;
}

header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
header i {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #101010;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}
header i i:active {
  color: #101010;
}
header img {
  height: 36px;
  width: 210px;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: "roboto";
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 50px;
  gap: 1rem;
}
.location .fa-location-dot {
  font-size: 1.2rem;
}

.explorer {
  padding: 30px 0;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explorer h1 {
  width: 80%;
  min-width: 275px;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0;
}
.explorer p {
  min-width: 315px;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 300;
  margin-top: 0;
}

.functioning {
  padding: 25px;
}
.functioning .title {
  margin: 0 0 25px 0;
}
.functioning .section-btn {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
}
.functioning .btn {
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 20px;
  background-color: #f3f3f3;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.functioning .btn .fa-solid {
  padding-right: 15px;
  padding-left: 10px;
}
.functioning .number {
  position: absolute;
  color: #ffffff;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  left: -9px;
  top: 25px;
  font-size: 0.886rem;
  background-color: #9356dc;
  display: grid;
  place-items: center;
}
.functioning i {
  padding-left: 2rem;
  height: 1.25rem;
  width: 0.813rem;
  font-size: 1.25rem;
}
.functioning .icone-shelter {
  color: #9356dc;
}
.functioning a {
  padding-left: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  color: #101010;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .functioning {
    padding: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .functioning {
    padding: 50px 160px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .functioning .title {
    width: 100%;
    margin: 0;
  }
  .functioning .section-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }
  .functioning i {
    padding-left: 1.5rem;
  }
  .functioning a {
    width: 100%;
    font-size: 0.875rem;
    padding-left: 1.5rem;
  }
}

.restaurant {
  padding: 30px 20px;
  background-color: #f3f3f3;
}
.restaurant .container-menu {
  display: flex;
  flex-direction: column;
}
.restaurant .restaurant-card {
  height: 251px;
  margin-bottom: 15px;
}
.restaurant .restaurant-card a {
  text-decoration: none;
}
.restaurant .restaurant-card .restaurant-image {
  height: 75%;
  position: relative;
  cursor: pointer;
}
.restaurant .restaurant-card .restaurant-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant .restaurant-card .restaurant-image .new {
  width: 5rem;
  height: 1.813rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 13px;
  font-size: 0.875rem;
  background-color: #99e2d0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  color: #008766;
}
.restaurant .restaurant-card .restaurant-content {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 15px;
  border-radius: 0 0 20px 20px;
  background-color: #ffffff;
}
.restaurant .restaurant-card .restaurant-content .restaurant-title {
  font-size: 1.125rem;
  color: #101010;
  margin: 0;
}
.restaurant .restaurant-card .restaurant-content .restaurant-subtitle {
  font-size: 1.063rem;
  color: #101010;
  font-weight: 300;
  margin: 0;
}
.restaurant .restaurant-card .restaurant-content .fa-heart {
  position: absolute;
  font-size: 1.3rem;
  width: 22px;
  height: 22px;
  top: 18px;
  right: 21px;
}
.restaurant .restaurant-card .restaurant-content .heart-full {
  opacity: 0;
  transition: all;
}
.restaurant .restaurant-card .restaurant-content .heart-full:hover {
  opacity: 1;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 68%);
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  .restaurant {
    padding: 20px 50px;
  }
  .restaurant .container-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 2.813rem;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant {
    padding: 20px 160px;
  }
  .restaurant .container-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 80px;
  }
}

body {
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  font-family: "roboto";
}

.container-image {
  height: 275px;
  display: block;
}

.img-menu {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.container-all-menus {
  position: relative;
  margin-top: -3rem;
  background-color: #f3f3f3;
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  position: relative;
  width: 100%;
  padding: 0 5px;
}

.title-menu {
  font-family: "shrikhand";
  font-size: 1.75rem;
  font-style: italic;
}

.heart {
  position: absolute;
  width: 22px;
  font-size: 21px;
  top: 30px;
  right: 30px;
}

.heart-empty {
  color: #000000;
}

.heart-full {
  opacity: 0;
  transition: all;
}
.heart-full:hover {
  opacity: 1;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 68%);
  transition: 0.5s;
}

.sections-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.section-menu1 {
  -webkit-animation: arrive-menu 1s ease-in-out;
  animation: arrive-menu 1s ease-in-out;
}

.section-menu2 {
  -webkit-animation: arrive-menu 1.4s ease-in-out;
  animation: arrive-menu 1.4s ease-in-out;
}

.section-menu3 {
  -webkit-animation: arrive-menu 1.6s ease-in-out;
  animation: arrive-menu 1.6s ease-in-out;
}

.subtitle-menu {
  margin: 30px 0 0 0;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.line {
  width: 40px;
  border: 2px solid #99e2d0;
  margin-top: 5px;
}

.container-cards {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border-radius: 20px;
  gap: 15px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  white-space: nowrap;
  overflow: hidden;
}
.cards:hover .title-plate {
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards:hover .description-plate {
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards:hover .cards-price {
  transform: translateX(0);
}
.cards .cards-content {
  padding: 15px 0 15px 10px;
  white-space: nowrap;
  overflow: hidden;
}
.cards .title-plate {
  margin: 0 0 5px 0;
  font-size: 0.938rem;
  overflow: hidden;
}
.cards .description-plate {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
}
.cards .cards-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  transform: translateX(59px);
  transition: all 0.5s;
}
.cards .price {
  padding: 15px 10px 15px 0;
  margin: 0;
  font-size: 0.94rem;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 100%;
  background-color: #99e2d0;
}

.fa-check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #99e2d0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .container-all-menus {
    margin-left: 10%;
    margin-right: 10%;
  }
  .title-container {
    width: 350px;
  }
  .sections-menu {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .container-all-menus {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.button {
  margin: 40px;
  cursor: pointer;
  padding: 15px 40px;
  font-size: 1rem;
  color: white;
  border: none;
  background: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  border-radius: 1.563rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  opacity: 1;
  transition: all 0.5s;
}
.button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
  opacity: 0.9;
}
.button a {
  text-decoration: none;
  color: #ffffff;
}

.footer {
  padding: 22px 25px;
  background-color: #101010;
  gap: 16px;
}
.footer .footer-logo .logo {
  margin: 0;
  font-size: 1.125rem;
  color: white;
  font-family: "shrikhand";
}
.footer .footer-link {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 7px;
}
.footer .footer-link i {
  width: 11px;
  height: 13px;
  padding-right: 10px;
}
.footer .footer-link a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 40px 25px 30px 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
  .footer .footer-logo {
    display: flex;
  }
  .footer .footer-link {
    margin: 0;
    flex-direction: row;
    justify-content: right;
    padding-right: 9px;
    gap: 20px;
  }
}
@media screen and (min-width: 900px) {
  .footer {
    padding: 40px 25px 30px 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
  .footer .footer-logo {
    display: flex;
  }
  .footer .footer-link {
    margin: 0;
    flex-direction: row;
    justify-content: right;
    padding-right: 5%;
    gap: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
