.button {
    margin: 20px;
    padding: 15px 40px;
    font-size: 1rem;
    color: white;
    border: none;
    background: linear-gradient(rgba(255, 121, 218, 1), rgba(147, 86, 220, 1));
    border-radius: 1.563rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.5s;  

    &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);    
        transform: scale(1.02s);
        opacity: 0.9;
    }
}