.footer {
    padding: 22px 25px;
    background-color: $color7;
    gap: 16px;

    & .footer-logo {

        & .logo {
            margin: 0;
            font-size: 1.125rem ;
            color: white;
            font-family: "shrikhand"; 
        }
    }        

    & .footer-link {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        color: white;
        gap: 7px;

            & i {
                width: 11px;
                height: 13px;
                padding-right: 10px;
            }

            a {
                font-size: 1rem;
                text-decoration: none;
                color: white;
            }
    }

    @media screen and (min-width: 768px) {    
        padding: 40px 25px 30px 25px;
        display: flex;
        flex-direction: row-reverse;
        align-items: end;

            & .footer-logo {
                display: flex;
            }

            & .footer-link { 
                margin: 0;
                flex-direction: row;
                justify-content: right;
                padding-right: 9px;
                gap: 20px;          
            } 
        }           

        @media screen and (min-width: 900px) {    
            padding: 40px 25px 30px 25px;
            display: flex;
            flex-direction: row-reverse;
            align-items: end;

                & .footer-logo {
                    display: flex;
                }

                & .footer-link { 
                    margin: 0;
                    flex-direction: row;
                    justify-content: right;
                    padding-right: 5%;
                    gap: 20px;          
                } 
            }               
}      