header {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    
    & i {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: $color7;
        width: 30px;
        height: 30px;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;       
      
        & i:active {
            color: $color7;
        }
    }
    
    & img {
        height: 36px;
        width: 210px;
    }
}
