$color1: #f3f3f3;
$color2: #99e2d0;
$color3: #008766;
$color4: #89c8fa;
$color5: #003a68;
$color6: #9356dc;
$color7: #101010;
$color8: #ff79da;
$color9: #eaeaea;
$color10: #ffffff;
$color11: #99E2D0;
